:root {
  --background: white;
  --headerBackground: #f5f5f5;
  --text: #0a0a0b;
}

[data-theme='dark'] {
  --background: #0a0a0b;
  --headerBackground: #1c1c1e;
  --text: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.app {
  background: var(--background);
  color: var(--text);
  transition: 0.3s background ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

canvas {
  height: 100vh;
  width: 100%;
}

// Navbar

header {
  position: absolute;
  z-index: 2;
  width: 100%;
  background: var(--headerBackground);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  transition: 0.3s background ease;
  h1 {
    font-family: sans-serif;
  }

  button {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    svg {
      width: 100%;
      height: 100%;
      fill: var(--text);
    }
  }
}

footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

.timeslider {
  width: 80%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  &__labels {
    display: flex;
    gap: 1rem;
  }
}
#timeslider-input {
  width: 100%;
}
